version: '3.8'

services:
  shopify-backend:
    container_name: shopify-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8085:8081"
    env_file:
      - .env
    restart: unless-stopped